.album-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  transition: all 0.3s ease;
  cursor: pointer;
}

.list-group-item:hover {
  text-decoration: underline;
  color: #2563EB;
}

.player {
  max-width: 400px;
  margin: 0 auto;
}

.player-info {
  text-align: center;
}

.album-cover {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls i {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.controls i:hover {
  color: #2563EB;
}


.control-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 1rem;
}




.volume-bar {
  display: flex;
  justify-content: center;
}

.playlist {
  margin-top: 20px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}

.carousel-item {
  flex: 0 0 calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
  transition: all 0.3s;
}

.carousel-item.active {
  opacity: 1;
}
.carousel-control {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-control:hover {
  background: rgba(255, 255, 255, 0.2);
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}


.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-item:not(.active) {
  display: none;
}
.glassy {
  background: rgba(255, 255, 255, 0.607);
  border-radius: 0.5rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

